body {
    margin: 0;
background-image: linear-gradient(to bottom, #010b1a, #003b53, #006f71, #00a464, #a0cf36);
background-repeat: no-repeat;
min-height:100%;
background-attachment: fixed;
    color:white;
}

h1 {
    font-size: 70px;
}

h4 {
    margin-top: -10%;
    font-size: 30px;
}

.btn {
    margin-top: 140%;
}

button {
    font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
background-color:transparent;
  border-radius: 4px;
  border-style: none;

}

button:hover,
button:focus {
  opacity: .75;
}

.btn1 {
    left: -50px;
}

.btn2 {
    left: 50px;
}

.bttn{
    z-index:1000;
position:absolute;
padding-top:100%;
width:20%;
}

p{
     font-family: "Roboto Condensed", sans-serif;
     font-weight:bold;
     padding-top:100%;
     color:white;
     font-size:25px;
text-shadow: 4px 4px 14px rgba(0,0,0,0.2);
}
